.thickborder {
    border: 2px solid #222;
    box-sizing:border-box;
}

div.gallery img {
    height : 200px;
    width : 100%;

}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 30px;
    color: #800040; 
    text-align: center;
}

:root {
    background-color: #f5eff5;
}

blockquote {
     border-left: 2px solid #888;
     padding-left: 5px;
     font-size: 20px;
     color: #000000;
     max-width: 150px;
}

p {
     text-align: right;
     font-size: 16px;
     color: #744;
     padding: 3px;
}

div.gallery {
    border: 2px solid #222;
    float:left;
    margin: 5px;
    width: 20%;
    height: 50%;
}

div.center {
    position:relative;
    left: 50%;
    width: 80%;
    margin-left: -37%;
}

@media screen and (max-width: 600px) {
    :root{
        background-color: #ccffff;
    }
}